In [1]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/Aniket/opt/anaconda3/lib/python3.9/site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import all the packages
import psycopg2
from psycopg2 import sql
import csv
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

In [21]:
# Replace "your_username", "your_password", "your_host", "your_port", and "your_database" with your actual database credentials
# Create the SQLAlchemy engine
password = quote_plus('Aadik@123')
engine = create_engine(f'postgresql://postgres:{password}@localhost:5435/covid_death')

In [15]:
# Load the death data file into PostgressSQL
import pandas as pd

# Fetch the Excel File into Pandas DataFrame
data = pd.read_excel('/Users/Aniket/Documents/Divya_Porfolio/Python/covid_death.xlsx')

In [30]:
data.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2020-01-03,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'population',
       'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths',
       'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million'],
      dtype='object')

In [7]:
print(data.dtypes)

iso_code                                      object
continent                                     object
location                                      object
date                                  datetime64[ns]
population                                     int64
total_cases                                  float64
new_cases                                    float64
new_cases_smoothed                           float64
total_deaths                                 float64
new_deaths                                   float64
new_deaths_smoothed                          float64
total_cases_per_million                      float64
new_cases_per_million                        float64
new_cases_smoothed_per_million               float64
total_deaths_per_million                     float64
new_deaths_per_million                       float64
new_deaths_smoothed_per_million              float64
reproduction_rate                            float64
icu_patients                                 float64
icu_patients_per_million                     float64
hosp_patients                                float64
hosp_patients_per_million                    float64
weekly_icu_admissions                        float64
weekly_icu_admissions_per_million            float64
weekly_hosp_admissions                       float64
weekly_hosp_admissions_per_million           float64
dtype: object

In [32]:
query="""SELECT *
FROM public.covid_deathdata""";

In [31]:
# Execute the query and fetch the results
df = pd.read_sql_query(query, engine)

In [25]:
df.head()

Empty DataFrame
Columns: [iso_code, continent, loc, reg_date, population, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million]
Index: []

[0 rows x 26 columns]

In [26]:
df.shape

(0, 26)

In [27]:
# Specify the table name
table_name = 'covid_deathdata'
# Load the DataFrame into the PostgreSQL table
data.to_sql(table_name, engine, if_exists='replace', index=False, schema='public')

In [28]:
# Execute the SQL query
query = "SELECT * FROM public.covid_deathdata"
df_result = pd.read_sql_query(query, engine)
df_result.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2020-01-03,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# check the number of rows and columns
df_result.shape

(318334, 26)

## Load the vaccine data into PostgressSQL

In [ ]:
data_vac = pd.read_excel('/Users/Aniket/Documents/Divya_Porfolio/Python/covid_vaccinations.xlsx')

In [ ]:
data_vac.head()

In [ ]:
data_vac.columns

In [ ]:
print(data_vac.dtypes)

In [ ]:
query="""SELECT *
FROM public.covid_vaccinedata""";

In [ ]:
# Execute the query and fetch the results
df = pd.read_sql_query(query, engine)

In [ ]:
df.head()

In [ ]:
# Specify the table name
table_name = 'covid_vaccinedata'
# Load the DataFrame into the PostgreSQL table
data_vac.to_sql(table_name, engine, if_exists='replace', index=False, schema='public')

In [ ]:
# Execute the SQL query
query = "SELECT * FROM public.covid_vaccinedata"
df_result = pd.read_sql_query(query, engine)
df_result.head()

In [ ]:
df_result.shape